//Variables
$color-gray-text: rgb(175, 175, 175);

$color-gray-active: #717171;

$background-gray: rgb(241, 241, 241);

$form-gray: rgb(129, 129, 129);

$form-border-gray: rgb(197, 197, 197);

$error-red: rgb(255, 108, 108);

$focus-gray: rgb(105, 105, 105);

$base-blue-color: #91b5c2;

$base-blue-color-active: #708e9a;

$shadow-color: rgba(99, 99, 99, 0.2);

$peri-button-color: rgb(187, 187, 187);

$peri-button-color-hover: rgb(150, 150, 150);

$peri-button-color-active: rgb(109, 109, 109);

$light-shadow-color: #c4c4c4;

$background-light-gray: #e9eef6;

$succes-green: #93dd86;

$nav-blue: #536e78;

$scroll-track: #f6f7f8;

$scroll-thumb: #a5a5a5;

$scroll-thumb-hover: #8c8c8c;

/* Cards coloring */

$baseColor-primary: #91b5c2;
$baseColor-secondary: #e3e9eb;

$alertColor-primary:#e18e8e;
$alertColor-secondary: #ebe3e3;

$checkColor-primary: #93dd86;
$checkColor-secondary: #e8f3d4;

$irrelevantColor-primary: #D3D3D3;
$irrelevantColor-secondary: #F5F5F5;

.baseColor-primary{
  background-color: $baseColor-primary;
}
.baseColor-secondary{
  background-color: $baseColor-secondary !important;
}
.alertColor-primary{
  background-color: $alertColor-primary;
}
.alertColor-secondary{
  background-color: $alertColor-secondary!important;
}
.checkColor-primary{
  background-color: $checkColor-primary;
}
.checkColor-secondary{
  background-color: $checkColor-secondary !important;
}
.irrelevantColor-primary{
  background-color: $irrelevantColor-primary;
}
.irrelevantColor-secondary{
  background-color: $irrelevantColor-secondary !important;
}

.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $background-gray;
}

.form {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: white;
  border-radius: 3rem;
  font-size: 140%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: $shadow-color 0px 2px 8px 0px;
}

.register-form-container {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: row;
}

.register-form-columns {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

label {
  padding: 0.5rem;
  color: $form-gray;
}

input {
  border-radius: 1rem;
  border: solid 0.01rem $form-border-gray;
  padding: 0.5rem;
  color: $form-gray;
}

textarea {
  border-radius: 1rem;
  border: solid 0.01rem $form-border-gray;
  padding: 0.5rem;
  color: $form-gray;
}

.fullWidth {
  width: 100%;
}

input:active,
textarea:active {
  border: solid 0.08rem black;
}

/*Error*/
.errorText {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: $error-red;
  visibility: hidden;
}

.visibleErrorText {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: $error-red;
  visibility: visible;
}

.commentText {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: $color-gray-text;
  visibility: visible;
}

input:invalid:not(:placeholder-shown) + .errorText {
  visibility: visible;
}

input:focus {
  outline: none;
  outline: solid 0.02rem $focus-gray;
}

::placeholder {
  color: $form-border-gray;
  font-size: 90%;
}

/*Buttons*/

button {
  background-color: none;
  border: none;
}

.bigButton {
  padding: 0.8rem;
  padding-top: 0.6rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: $base-blue-color;
  color: white;
  font: 120%;
  transition: 0.2s;
  box-shadow: $shadow-color 0px 2px 8px 0px;
}

.bigButton:hover {
  transform: scale(1.1);
}

.bigButton:active {
  background-color: $base-blue-color-active;
}

.periButton {
  font-size: 90%;
  color: $peri-button-color;
  background-color: transparent;
  transition: 0.15s;
}

.periButton:hover {
  color: $peri-button-color-hover;
}

.periButton:active {
  color: $peri-button-color-active;
}

.heading {
  color: $base-blue-color;
  font-size: 180%;
  padding-bottom: 0.5rem;
}

.headingSuccess {
  color: $succes-green;
}

/*Card*/

.card-wrapper {
  width: 16rem;
  height: 15rem;
  box-shadow: 0px 3px 10px $light-shadow-color;
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  background-color: white;
  color: gray;
  font-size: 130%;
  word-wrap: break-word;
}

.card-top {
  width: 100%;
  height: 8%;
  transition: ease-in-out 0.2s;
}

.task-holder {
  width: 100%;
  height: 100%;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-text-holder {
  width: 100%;
  margin-top: 6%;
  font-size: 1em;

}

.card-header {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 60%;
  height: 20%;
  padding: 1px 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px $light-shadow-color;
  transition: ease-in-out 0.2s;
  border-radius: 10px !important;
}

.date {
  font-size: 80%;
  color: $color-gray-text;
  position: absolute;
  left: 1em;
  bottom: 1em; 
}

/* Icons */

.icon {
  color: $color-gray-text;
  cursor: pointer;
  transition: 0.2s;
  margin: 0.2em;
}

.icon:hover {
  transform: scale(1.2);
}

.icon:active {
  color: $color-gray-active;
  transform: scale(1.2);
}

.checkIconLocation {
  position: absolute;
  right: 20px; 
  top: 20px;
}

.eyeIconLocation {
  position: absolute; 
  right: 20px;
  top: 50px;
}

.editIconLocation {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.task-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
  margin-top: 1em;
}

.task-screen {
  background-color: $background-gray;
  width: 100vw
}

.header {
  height: 20vh;
  width: 100%;
  background-color: $background-light-gray;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation Bar*/

.navBar {
  width: 100vw;
  height: 10vh;
  background-color: $nav-blue;
  display: flex;
  align-items: center; /* Added property */
  text-align: center;
  box-shadow: 0px 2px 4px $light-shadow-color;
  color: white;
  justify-content:space-between;  
  position: sticky;
}

.navUser {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 33vw;
}

.navHello {
  font-size: 1.5rem;
  margin: 1rem;
  border-right: solid 0.15rem;
  padding-right: 1rem;
}

.navLogout {
  font-size: 2rem;
  margin: 1rem;
}

.navButtonContainer {
  width: 33vw;
  display: flex;
  justify-content: center;
}

.navButton {
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
  margin: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navButton:hover {
  transform: scale(1.1);
}

input.navSearch {
  width: 100%;
  height: 20%;
  font-size: 1.3rem;
  border-radius: 1rem;
  margin-right: 10%;
  color: $form-gray;
}

.navSearch {
  display: flex;
  width: 33vw;
}

.navIcon {
  cursor: pointer;
  transition: 0.2s;
  margin-left: 1rem;
}

.navIcon:hover {
  transform: scale(1.2);
}

.successIcon {
  font-size: 8rem;
  color: $succes-green;
  margin: 6rem;
}

.popUpButton {
  background-color: $base-blue-color;
}

.makeInvisible {
  opacity: 60%;
}

/* Scroll bar*/
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: $scroll-track;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scroll-thumb-hover;
}

.popUpButton {
  background-color: $base-blue-color;
}

.makeInvisible {
  opacity: 60%;
}

/* Scroll bar*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $scroll-track;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scroll-thumb-hover;
}

//Defaults

html {
  height: 100%;
  overflow-x: hidden;
}
